@mixin section{
    background-image: url("https://picsum.photos/g/1200/1200/?image=#{random(1100)}"); //interpolate a random number to get a different image in each mixin instance
    background-size: cover;
    background-position:center; 
    background-blend-mode: soft-light;
}

.section { //@extend %section;
    position: relative;
    .container{
        max-width: 560px;
        @include centerer;
    } 
}

#section0{
    background-color: white;
    @include section; 
    h1{
        color: $dark;
    }
}

#section1{
    background: $dark;
    @include section; 
    h1{
        color: white;
    }
}

#section2{
    background: $blue;
    @include section;  
    h1{
        color: white;
    }
}

#section3{
    background: white;
    @include section; 
    h1{
        color: $orange;
    }
}

#section4{
    background: $grey;
    @include section; 
    h1{
        color: $dark;
    }
}

#section5{
    background: $dark;
    @include section; 
    h1{
        color: white;
    }
}

hr.titleLine {
    width: 3000px;
    position: absolute;
    left: right;
    right: 10px;
    height:0.15rem;
    margin: 0;
    border: none;
    background-image: linear-gradient(to right, transparent 50%, #ffffff 50%);
    background-size: 19px 100%;
}
