@mixin section{
   // background-image: url("https://picsum.photos/g/1200/1200/?image=#{random(1100)}"); //interpolate a random number to get a different image in each mixin instance
    background-size: cover;
    background-position:center; 
//    background-blend-mode: soft-light;
}

.fp-tableCell{
    text-align: center;
    vertical-align: middle;
    display: grid !important;
    grid-template-columns: 1fr 2fr;
    width: 100%;
    grid-template-rows: 1fr;
    height: 100%;
    align-items: center;
} 

//@mixin responsiveSection{
//    &.fp-responsive .fp-section,&.fp-responsive .fp-slide,&.fp-responsive .fp-tableCell{
//    height: auto !important;
//}
//}

.section { //@extend %section;
    position: relative;
    .container{
        /* width: 45vw; */
        display: inline-block;
        text-align: left;
        overflow: hidden;
        position: relative;
        /* vertical-align: middle; */
        grid-column: span 1;
        /* padding: 220px; */
        /* height: 100%; */
        transform: translate3d(0, 0, 0) !important;
        width: 100%;
        
        .content{
            will-change: transform, opacity;
        }
        @media (max-width:1000px){
            width: 100%;
        }
    } 
}

#section0{
    background-color: white;
    background-image: url("/images/hero2.png");
    @include section;
    background-position: bottom;
    min-height: 100vh;
    h1{
        color: $orange;
        -vendor-animation-delay: 2s;
        @extend %regular;
        font-size: 2.8rem;
        opacity: 0.8;
    }
}

#section1{
//    background: $dark;
//    background-image: url("/images/whoWeAre.png");
    @include section; 
    h1{
        color: white;
        -vendor-animation-delay: 2s;
    }
}

#section2{
    background: $blue;
    background-image: url("/images/whatWeDo.png");
    @include section;  
    h1{
        color: white;
        -vendor-animation-delay: 2s;
    }
}

#section3{
    background: white;
    background-image: url("/images/whyJoinUs.png");
    @include section; 
    h1{
        color: $orange;
        -vendor-animation-delay: 2s;
    }
}

#section4{
    background: $grey;
    background-image: url("/images/community.png");
    @include section; 
    h1{
        color: white;
        -vendor-animation-delay: 2s;
    }
}

#section5{
    background: $dark;
    overflow: hidden;
    @include section; 
    h1{
        color: white;
        -vendor-animation-delay: 2s;
    }
}

hr.titleLine {
    width: 3000px;
    position: absolute;
    left: right;
    right: 10px;
    height:0.15rem;
    margin: 0;
    border: none;
    background-image: linear-gradient(to right, transparent 50%, #ffffff 50%);
    background-size: 19px 100%;
}
