.caseStudies{
//    margin-top: 30px;
    a{
        text-decoration: none;
        cursor: pointer;
        position: relative;
        &:hover{
        .caseStudyLink{
//            background: rgba(255, 255, 255, 0.67);
            color: $orange;
            font-weight: 600;
//            padding-left: 40px;
            
        }
        }}
    span{
//        text-decoration: none;
//        display: inline-block;
//        width: auto; 
    }
    h2{
        color: $dark;
        text-align: left;
        font-weight: 600;
        font-size: 0.88rem;
        text-transform: uppercase;
//        display: inline-block;
        margin-right: 10px;
    }
}

.caseStudy{
    width: auto;
    letter-spacing: 0.05i rem;
    font-size: 0.9rem;
    padding: 5px 0px;
    @extend %semiBold;
    color: $dark;
    margin-bottom: 6px;
    border-radius: 50px;
    position: relative;
    vertical-align: text-bottom;
//    img{
//        position: absolute;
//        @include centererV;
//        left: 10px;
//        
//    }  
  
}

.department{
//    opacity: 0.8;
    font-weight: 400;
}

.caseStudyLink{
    font-weight: 400;
    vertical-align: text-bottom;

    text-transform: uppercase;
    font-size: 0.78rem;
    padding-left: 20px;
    position: absolute;
    right: 0;
    margin-right: 50px;
}

.businessLine{
    display: grid;
//    grid-template-columns: 0.5fr 1fr 0.1fr;
//    grid-gap: 1rem;
    cursor: pointer;
//    grid-template-columns: 1fr 3fr;
    /* grid-gap: 2rem; */
    padding-top: 20px;
    border-radius: 6px;
    margin: 0 20px;
    transition: background 0.25s;
    text-align: center;
//    margin-bottom: 40px;
    @media (max-width: 400px){
        grid-gap:0.6rem;
    }
    h2{
        flex: 1 1 0;
        grid-column: span 1;
//        text-align: right;
        color: $dark;
        @extend %semiBold;
        font-size: 1rem;
        text-transform: uppercase;
    }
    p{
        flex: 2 2 0;
        grid-column: span 1;
    }
    img{
        margin: auto;
        width: 65px;
        margin-bottom: 10px;
//        @media (max-width:500px){
//            display: none;
//        }
    }
    &:hover{
        background: rgba(255, 255, 255, 0.08);
        
//        h2{
//            color: $orange;
//        }
    }
}

.businessLineInfoBox{
    background: rgba(17, 19, 23, 0.08);
    border-radius: 0.1px;
    box-shadow: 0 0 0 7pt rgba(17, 19, 23, 0.08);
}