.caseStudies{
//    margin-top: 30px;
    a{
        text-decoration: none;
        display: inline-block;
        width: auto; 
        .caseStudy{
            background: rgba(255, 255, 255, 0.67);
            color: $dark;
            padding-left: 40px;
            &:hover{
                background: rgba(255, 255, 255, 0.8);
            }
        }
    }
    span{
        text-decoration: none;
        display: inline-block;
        width: auto; 
    }
    h2{
        color: white;
        text-align: left;
        font-weight: 600;
        font-size: 0.88rem;
        text-transform: uppercase;
//        display: inline-block;
        margin-right: 10px;
    }
}

.caseStudy{
//    width: 100%;
//    padding: 10px;
//    @extend %semiBold;
//    color: $dark;
//    text-align: center;
//    background: rgba(255, 255, 255, 0.67);
//    margin-bottom: 10px;
//    border-radius: 5px;
    
    width: auto;
    font-size: 0.9rem;
    padding: 10px 20px;
    @extend %semiBold;
    color: white;
    text-align: center;
//    background: rgba(255, 255, 255, 0.67);
    margin-bottom: 6px;
    border-radius: 50px;
    position: relative;
    img{
        position: absolute;
        @include centererV;
        left: 10px;
        
    }  
  
}

.businessLine{
    display: grid;
//    grid-template-columns: 0.5fr 1fr 0.1fr;
//    grid-gap: 1rem;
    cursor: pointer;
    grid-template-columns: 1fr 3fr;
    /* grid-gap: 2rem; */
    padding-top: 20px;
//    margin-bottom: 40px;
    @media (max-width: 400px){
        grid-gap:0.6rem;
    }
    h2{
        flex: 1 1 0;
        grid-column: span 1;
//        text-align: right;
        color: white;
        @extend %semiBold;
        font-size: 1rem;
        text-transform: uppercase;
    }
    p{
        flex: 2 2 0;
        grid-column: span 1;
    }
    img{
        @media (max-width:500px){
            display: none;
        }
    }
    &:hover{
//        border-top: 1px solid $dark;
        h2{
            color: $orange;
        }
    }
}