.staff{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-gap: 0.9rem;
    @media (max-width:500px){
//        grid-template-columns: repeat(4, 1fr);
        grid-gap: 0.5rem;
    }
}

.staffInfoBox{
    background: rgba(17, 19, 23, 0.41);
    border-radius: 0.1px;
    box-shadow: 0 0 0 7pt rgba(17, 19, 23, 0.41);
}

.staffBox{
    grid-column: span 1;
    position: relative;
    overflow: hidden;
    padding-bottom: 100%;
    background: $dark;
    border-radius: 0.3rem;
//    background-image: url("https://picsum.photos/g/300/300?image=433");
    background-size: cover; 
    background-position:center; 
    cursor: pointer;
//    &:hover{
//        background-image: url("https://picsum.photos/300/300?image=433");
//    }
    .staffPhoto{
        border-style: none;
        position: absolute;
        will-change: opacity;
        width: 100%;
        mix-blend-mode: screen;
//        filter: grayscale(100%);
        z-index: 1;
        &:hover{
            mix-blend-mode: normal;
            filter: grayscale(0);
        }
    }
}


.staffClose{
    color: white; 
    text-align: right; 
    right: 0; 
    position: absolute;
    cursor: pointer;
    &:hover{
        color: $orange;
    }
}