<!-- community.html -->
<div class="section fp-auto-height" id="section4">
    <a href="#community"></a>
    <div class="titleBox container">
<!--        <h1 style="">community</h1>-->
        <div class="backgroundImage">
            <img data-stellar-ratio="0.9" src="/images/balloon-sunrise-aboretum-canberra-balloon-spectacular.jpg"></div>
    </div>

    <div class="container" >
        <!--          <div style="width: 3px;height: 100%;background: #ffffff8a;position: absolute;left: -45px;"></div>-->
        <div class="content">
            <h1 style="color:#ee8a1f" class="wow fadeInUp" data-wow-delay="0.3s">community</h1>

            <p style="animation-delay: 0.35s" class="col-3 black">Supporting the local community is a fundamental part of Apis’ business. The Apis in the Community Program allows us to make a significant contribution to community based programs, events and charities aimed at helping those in need. We do this through volunteer work, participation in community events and through fundraising. 
            </p>
        </div>
        <div class="content" style="padding: 10px; margin-top: 30px; border-radius:6px;     background: rgba(255, 255, 255, 0.21);  padding: 10px;  margin-top: 30px;   border-radius: 6px; grid-template-columns: 1fr 3fr ">
            
            <div style="  text-align: center; padding: 10px;   border-radius: 6px; " class="animated fadeIn">
                <img class="col-1" src="/images/lifeline.svg" width="70px" style="    align-self: center; margin: auto; margin-bottom:7px">
                <h2 class="col-3 black" style="margin-bottom: 0; line-height: 1.2rem; font-size: 0.9rem">Charity of Choice</h2>
            </div>
            
            <p style="animation-delay: 0.45s" class="col-2 black">
                In 2017-18 Apis has selected Lifeline as our charity of choice. We are involved in a range of fundraising and community events with Lifeline Canberra with our objective to assist Lifeline to fund the training of more volunteer crisis support staff to man their 24 hour phone service.
            </p>
            <p style="animation-delay: 0.5s" class="col-3 black">
                In addition we are supporting a range of other key charities, community events and organisations this year including:
            </p>

            <div style="animation-delay: .55s" class="col-3">
                <div class="charity">
                    <div class="charityBox">
                        <img class="charityPhoto" src="/images/kiva.png">
                    </div>
                    <div class="charityBox">
                        <img class="charityPhoto" src="/images/orangeSky.png">
                    </div>
                    <div class="charityBox">
                        <img class="charityPhoto" src="/images/p2.png">
                    </div>
                    <div class="charityBox">
                        <img class="charityPhoto" src="/images/christmas.png">
                    </div>
                    <div class="charityBox">
                        <img class="charityPhoto" src="/images/womansDay.png">
                    </div>
                    <div class="charityBox">
                        <img class="charityPhoto" src="/images/MS.png">
                    </div>
                    <div class="charityBox">
                        <img class="charityPhoto" src="/images/scouts.png">
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>