
  
<!-- community.html -->
   <div class="section" id="section4"><a href="#community"></a>
       <div class="container">
       <h1>Community
       </h1>
       </div>
      <div class="container">
       
        <div class="content">
            <p style="animation-delay: 0.35s" class="col-3 black">Supporting the local community is a fundamental part of Apis’ business. The Apis in the Community Program allows us to make a significant contribution to community based programs, events and charities aimed at helping those in need.
            </p><p style="animation-delay: 0.4s" class="col-3 black">
            We do this through volunteer work, participation in community events and through fundraising.
            </p><p style="animation-delay: 0.45s" class="col-3 black">
            In 2017-18 Apis has selected Lifeline as our charity of choice.  We are involved in a range of fundraising and community events with Lifeline Canberra with our objective to assist Lifeline to fund the training of more volunteer crisis support staff to man their 24 hour phone service.
            </p><p style="animation-delay: 0.5s" class="col-3 black"> 
                In addition we are supporting a range of other key charities, community events and organisations this year including: 

            </p> 
            <!--
<div class="col-1" style="background: white"></div>
<div class="col-2">
<h2>What's with the bull?</h2>
<p>The Apis Bull’s origins are based on Apis, the bull god, symbolising prosperity and foresight and providing trusted guidance on issues of change.</p>
</div>
-->
            <div style="animation-delay: .55s" class="col-3">
                <div class="charity">
                    <div class="charityBox" onclick="staffClick('shane')">
<!--                    <img class="charityPhoto" src="/images/shane.jpg">-->
                    </div>
                    <div class="charityBox" onclick="staffClick('dave')">
<!--                    <img class="charityPhoto" src="/images/dave.jpg">-->
                    </div>
                    <div class="charityBox" onclick="staffClick('hassan')">
<!--                    <img class="charityPhoto" src="/images/hassan.jpg">-->
                    </div>
                    <div class="charityBox" onclick="staffClick('mel')">
<!--                    <img class="charityPhoto" src="/images/mel.jpg">-->
                    </div>
                    <div class="charityBox" onclick="staffClick('tim')">
<!--                    <img class="charityPhoto" src="/images/tim.jpg">-->
                    </div>
                    <div class="charityBox" onclick="staffClick('pete')">
<!--                    <img class="charityPhoto" src="/images/pete.jpg">-->
                    </div>
                    <div class="charityBox" onclick="staffClick('pete')">
<!--                    <img class="charityPhoto" src="/images/pete.jpg">-->
                    </div>
                </div>
            </div>
        </div>
    </div>
       <div class="backgroundImage"></div>
</div>