
  
<!-- header.html -->
<div class="section active" id="section0"><a href="#header"></a>
    <div class="content" style="position: absolute;
                                top: 50%;
                                left: 50%;
                                transform: translate(-50%, -50%); z-index: 1">
                                <div></div><img style="width: 100%;" src="/images/apisLogo.svg"><div></div>
        <h1 style="grid-column: span 3; color: white; margin: 0; text-transform: none">Government Business Specialists</h1>
        <h2 style="grid-column: span 1; color: white; font-size: 2rem">Shape</h2>
        <h2 style="grid-column: span 1; color: white; font-size: 2rem">Serve</h2>
        <h2 style="grid-column: span 1; color: white; font-size: 2rem">Solve</h2>
    </div>
    <div data-stellar-ratio="3" style="z-index: 0; " class="backgroundImage">
        <img style=" position: relative; mix-blend-mode: normal; filter: none; animation: kenburns 140s linear 0s infinite alternate;" src="/images/canberra-morning-lake-burley-griffin.jpg"></div>
</div>
