
  
<!-- header.html -->
<div class="section active" id="section0"><a href="#header"></a>
    <div class="content" style="position: absolute;
                                top: 25%;
                                left: 50%;
                                transform: translate(-50%, -50%); z-index: 1">
        <h1 style="grid-column: span 3; color: white; margin: 0; text-transform: none">Government Business Specialists</h1>
        <h2 style="grid-column: span 1; color: white">Shape</h2>
        <h2 style="grid-column: span 1; color: white">Serve</h2>
        <h2 style="grid-column: span 1; color: white">Solve</h2>
    </div>
    <div data-stellar-ratio="3" style="z-index: 0; " class="backgroundImage">
        <img style="    animation: kenburns 140s linear 0s infinite alternate;" src="/images/canberra-morning-lake-burley-griffin.jpg"></div>
</div>
