<!-- menu.html -->
<div id="menu">
    <a data-menuanchor="header" href="#header"  onclick="closeOverlay(false)"><img class="apisLogo" src="/images/apisLogo.svg"></a>
    <ul>
        <li data-menuanchor="whoweare"><a href="#whoweare" onclick="closeOverlay(false)">Who We Are</a></li>
        <!--            <span>·</span>-->
        <li data-menuanchor="whatwedo"><a href="#whatwedo" onclick="closeOverlay(false)">What We Do</a></li>
        <!--            <span>·</span>-->
        <li data-menuanchor="whyjoinus"><a href="#whyjoinus" onclick="closeOverlay(false)">Why join us</a></li>
        <!--            <span>·</span>-->
        <li data-menuanchor="community"><a href="#community" onclick="closeOverlay(false)">community</a></li>
        <!--            <span>·</span>-->
        <li data-menuanchor="contact"><a href="#contact" onclick="closeOverlay(false)">contact</a></li>
    </ul>
    <a class="joinButton" onclick="joinClick('joinUs.html')">JOIN US</a>
    <a class="menuButton" onclick="menuClick()">MENU</a>
</div>

<div id="mobileMenu">
    <ul>
        <li data-menuanchor="whoweare"><a href="#whoweare" onclick="closeOverlay(false)">Who We Are</a></li>
        <!--            <span>·</span>-->
        <li data-menuanchor="whatwedo"><a href="#whatwedo" onclick="closeOverlay(false)">What We Do</a></li>
        <!--            <span>·</span>-->
        <li data-menuanchor="whyjoinus"><a href="#whyjoinus" onclick="closeOverlay(false)">Why join us</a></li>
        <!--            <span>·</span>-->
        <li data-menuanchor="community"><a href="#community" onclick="closeOverlay(false)">community</a></li>
        <!--            <span>·</span>-->
        <li data-menuanchor="contact"><a href="#contact" onclick="closeOverlay(false)">contact</a></li>
        <li><a class="joinButton" onclick="joinClick('joinUs.html')">JOIN US</a> </li>
    </ul>
</div>

<div class="overlay">
    <h1 class="closeOverlay" onclick="closeOverlay()" >x</h1>
    <div class="section o-section o-table fp-completely" id="overlayContent"></div>
</div>