<!-- menu.html -->
<div id="menu">
    <a data-menuanchor="header" href="#header"  onclick="closeOverlay()"><img class="apisLogo" src="/images/apisLogo.svg"></a>
    <ul>
        <li data-menuanchor="what"><a href="#what" onclick="closeOverlay()">Who We Are</a></li>
        <!--            <span>·</span>-->
        <li data-menuanchor="team"><a href="#team" onclick="closeOverlay()">What We Do</a></li>
        <!--            <span>·</span>-->
        <li data-menuanchor="about"><a href="#about" onclick="closeOverlay()">Why join us</a></li>
        <!--            <span>·</span>-->
        <li data-menuanchor="contact"><a href="#contact" onclick="closeOverlay()">news</a></li>
        <!--            <span>·</span>-->
        <li data-menuanchor="footer"><a href="#footer" onclick="closeOverlay()">contact</a></li>
    </ul>
    <a class="joinButton" onclick="joinClick('demo_test.html')">JOIN US</a>
</div>


<div class="overlay">
    <h1 class="closeOverlay" onclick="closeOverlay()" >x</h1>
    <div class="section" id="overlayContent"></div>
</div>