<!-- menu.html -->
<div id="menu">
    <a data-menuanchor="header" href="#header"  onclick="closeOverlay(false)"><img class="apisLogo" src="/images/apisLogo.svg"></a>
    <ul>
        <li data-menuanchor="who"><a href="#whoweare" onclick="closeOverlay(false)">Who We Are</a></li>
        <!--            <span>·</span>-->
        <li data-menuanchor="what"><a href="#whatwedo" onclick="closeOverlay(false)">What We Do</a></li>
        <!--            <span>·</span>-->
        <li data-menuanchor="joinus"><a href="#whyjoinus" onclick="closeOverlay(false)">Why join us</a></li>
        <!--            <span>·</span>-->
        <li data-menuanchor="community"><a href="#community" onclick="closeOverlay(false)">community</a></li>
        <!--            <span>·</span>-->
        <li data-menuanchor="contact"><a href="#contact" onclick="closeOverlay(false)">contact</a></li>
    </ul>
    <a class="joinButton" onclick="joinClick('demo_test.html')">JOIN US</a>
</div>


<div class="overlay">
    <h1 class="closeOverlay" onclick="closeOverlay()" >x</h1>
    <div class="section" id="overlayContent"></div>
</div>