<!-- whatWeDo.html -->
<div class="section fp-auto-height-responsive" id="section2">
    <a href="#what"></a>
    <div class="container">
        <h1>What We Do
        </h1>
    </div>
    <div class="container">
        <!--        <div style="width: 3px;height: 100%;background: #ffffff8a;position: absolute;left: -45px;"></div>-->
        <div class="content">
            <div id="whatWeDoContent" class="col-3">
            <p class="col-3">Apis specialises in strategic advisory and digital transformation services as well as hands-on solutions in delivery management, business analysis and design, digital design, change and transformation, complex procurement and program evaluation and review.</p>
            </div>
            <div class="businessLines col-1">
                <div class="businessLine" onclick="businessLineClick('advisory')">
                                    <img src="/images/success.svg" >
                    <h2>Advisory</h2>
<!--                    <p style="font-size: 0.78rem">Apis offers a range of advisory services to clients. We do this across two primary streams of services.</p>-->
                </div>
            </div>
            <div class="businessLines col-1">
                <div class="businessLine" onclick="businessLineClick('design')">
                                    <img src="/images/compose.svg" >
                    <h2>Design</h2>
<!--                    <p style="font-size: 0.78rem">Full business and digital design services from user research and service design.</p>-->
                </div>
            </div>
<!--            <hr style="width: 100%; grid-column:  span 3; opacity: 0.2">-->
            <div class="businessLines col-1">
                <div class="businessLine" onclick="businessLineClick('delivery')">
                                    <img src="/images/settings.svg" >
                    <h2>Delivery</h2>
<!--                    <p style="font-size: 0.78rem">Planning, management, delivery and assurance of complex policy reform initiatives.</p>-->
                </div>
            </div>
</div>
</div>
    
<div class="backgroundImage"></div>

</div>