
<!-- whatWeDo.html -->
<div class="section" id="section2">
    <a href="#what"></a>
    <div class="container">
        <h1>What We Do
        </h1>
    </div>
    <div class="container">
        <div class="content">
            <div class="businessLines col-2">
                <div class="businessLine">
                    <h2>Advisory</h2>
                    <p>Lorem ipsum dolor sit amet. Sarem imo tere out.</p>
                </div>
                <div class="businessLine">
                    <h2>Design</h2>
                    <p>Lorem ipsum dolor sit amet. Sarem imo tere out.</p>
                </div>
                <div class="businessLine">
                    <h2>Delivery</h2>
                    <p>Lorem ipsum dolor sit amet. Sarem imo tere out.</p>
                </div>
            </div>
            <div class="caseStudies col-1">
                <h2 style="color: white">Case Studies</h2>
                <div class="caseStudy">DSS</div>
                <div class="caseStudy">Head to Health</div>
            </div>
        </div>
    </div>
    <div class="backgroundImage"></div>

</div>