<!-- whatWeDo.html -->
<div class="section fp-auto-height-responsive" id="section2">
    <a href="#what"></a>
    <div class="container">
        <h1>What We Do
        </h1>
    </div>
    <div class="container">
        <!--        <div style="width: 3px;height: 100%;background: #ffffff8a;position: absolute;left: -45px;"></div>-->
        <div class="content">
            <div class="businessLines col-3">
                <div class="businessLine" onclick="joinClick('advisory.html')">
                    <!--                <img src="/images/advisory.svg" width="50px">-->
                    <h2>Advisory</h2>
                    <p style="font-size: 0.78rem">Apis offers a range of advisory services to clients. We do this across two primary streams of services.</p>
                </div>
            </div>
            <div class="businessLines col-3">
                <div class="businessLine" onclick="joinClick('design.html')">
                    <!--                <img src="/images/design.svg" width="50px">-->
                    <h2>Design</h2>
                    <p style="font-size: 0.78rem">Full business and digital design services from user research and service design.</p>
                </div>
            </div>
<!--            <hr style="width: 100%; grid-column:  span 3; opacity: 0.2">-->
            <div class="businessLines col-3">
                <div class="businessLine" onclick="joinClick('delivery.html')">
                    <!--                <img src="/images/delivery.svg" width="50px">-->
                    <h2>Delivery</h2>
                    <p style="font-size: 0.78rem">Planning, management, delivery and assurance of complex policy reform initiatives.</p>
                </div>
            </div>

            <div class="caseStudies col-3">
                <h2>CLIENTS</h2>
                <a style="text-decoration:none;" target="_blank" href="/caseStudies/DSS_caseStudy.pdf">
                    <div class="caseStudy"><span><img src="/images/pdf-file.svg" height="20px">  DSS</span></div>
                </a>
                <a style="text-decoration:none;" target="_blank" href="/caseStudies/HeadToHealth_businessCase.pdf">
                    <div class="caseStudy"><img src="/images/pdf-file.svg" height="20px">Head to Health</div>
                </a>
                <span><div class="caseStudy"><span>DHS</span></div>
                </span>
                <span><div class="caseStudy"><span>DOH</span></div>
                </span>
                <span><div class="caseStudy"><span>DOEM</span></div>
                </span>
                <span><div class="caseStudy"><span>DOE</span></div>
                </span>
                <span><div class="caseStudy"><span>NDIA</span></div>
                </span>
                <span><div class="caseStudy"><span>AIATSIS</span></div>
                </span>
                <span><div class="caseStudy"><span>ANU</span></div>
                </span>
                <span> <div class="caseStudy"><span>My Aged Care</span></div>
                </span>

</div>
</div>
</div>
<div class="backgroundImage"></div>

</div>