
  
<!-- whoWeAre.html -->
   <div class="section" id="section1"><a href="#what"></a>
    <div class="container">
        <h1>Who We Are<hr class="titleLine">
        </h1>
        <div class="content">
            <p class="col-3">Apis specialises in the business of government. Our primary purpose is to assist public service leaders in the effective delivery of government business. But we pride ourselves on bringing a lot more to the relationship.</p>
<!--
            <div class="col-1" style="background: white"></div>
            <div class="col-2">
            <h2>What's with the bull?</h2>
            <p>The Apis Bull’s origins are based on Apis, the bull god, symbolising prosperity and foresight and providing trusted guidance on issues of change.</p>
            </div>
-->
            <div class="col-3">
                <h2>A few of our People</h2>
                <div class="staff">
                    <div class="staffBox"></div>
                    <div class="staffBox"></div>
                    <div class="staffBox"></div>
                    <div class="staffBox"></div>
                    <div class="staffBox"></div>
                    <div class="staffBox"></div>
                    <div class="staffBox"></div>
                </div>
            </div>
        </div>
    </div>
       <div class="backgroundImage"></div>

</div>