<!-- whatWeDo.html -->
<div data-stellar-offset-parent="true" class="section fp-auto-height-responsive" id="sectionSupport">
    <a href="#support"></a>
    <div class="titleBox container">
        <h1 data-stellar-ratio="1.5" style="">Who We Help</h1>
        <div data-stellar-ratio="1.25" class="backgroundImage">
            <img src="/images/whatWeDo.png"></div>
    </div>
    <div class="container" style="max-width: 560px; margin-left: 50px;">
        <!--        <div style="width: 3px;height: 100%;background: #ffffff8a;position: absolute;left: -45px;"></div>-->
        <div class="content">
            <p class="col-3">We offer services to public and private sector organisations, from the smallest to the largest. Within government, we have supported policy departments, service delivery agencies, regulators and central agencies, across multiple sectors.</p>
           

            <div class="caseStudies col-3">
                <h2>OUR CLIENTS INCLUDE:</h2>
                <a target="_blank" onclick="joinClick('caseStudy_DSS.html')">
                    <div class="caseStudy"><span class="department">Department of </span>Social Services  <span class="caseStudyLink">Read the Case Study </span></div>
                </a>
                <a target="_blank" onclick="joinClick('caseStudy_h2h.html')">
                    <div class="caseStudy"><span class="department">Department of </span>Health <span class="caseStudyLink">Read the Case Study </span>
<!--                        <img src="/images/pdf-file.svg" height="20px">-->
                    </div>
                </a>
                <span><div class="caseStudy"><span><span class="department">Department of </span>Human Services</span></div>
                </span>
                <span><div class="caseStudy"><span><span class="department">Department of </span>Jobs and Small Business</span></div>
                </span>
                <span><div class="caseStudy"><span><span class="department">Department of </span>Environment</span></div>
                </span>
                

</div>
</div>
</div>
<div class="backgroundImage"></div>

</div>