<!-- whyJoinUs.html -->
<div class="section fp-auto-height-responsive" id="section3">
    <a href="#joinus"></a>
    <div class="container">
        <h1>Why Join Us
        </h1>
    </div>
    <div class="container">
<!--        <div style="width: 3px;height: 100%;background: #ffffff8a;position: absolute;left: -45px;"></div>-->
        <div class="content">
            <p class="col-3 black">Our mission is to inspire innovation and build trust, to deliver reform and transformation and make a positive difference in our clients, our people and our community’s future.
                <br><br>When you join us you’ll see a difference-in the work you do, in our approach to developing you, and in the way we help you balance your professional and personal goals.
                <br><br>
            </p>
            <h2 class="col-3 black">Our value proposition is a unique one:</h2>
            <p class="col-3 black">Interesting work</p>
           

            <p class="col-3 black">Developing your career</p>
           
            <p class="col-3 black">We are about more than just work</p>
            
            <p class="col-3 black">Exceptional People</p>
            <br>
            
            <p class="col-3 black">If you are an adaptable and accountable individual who enjoys finding and influencing solutions to problems of national significance we’d like to hear from you. Contact our Recruitment Lead at: <strong>(02) 6206 000</strong> or <strong>recruitment@apisgroup.com.au</strong></p>
        </div>
    </div>
    <div class="backgroundImage"></div>

</div>