<!-- whyJoinUs.html -->
<div class="section" id="section3">
    <a href="#joinus"></a>
    <div class="container">
        <h1>Why Join Us
        </h1>
    </div>
    <div class="container">
<!--        <div style="width: 3px;height: 100%;background: #ffffff8a;position: absolute;left: -45px;"></div>-->
        <div class="content">
            <p class="col-3 black">Our mission is to inspire innovation and build trust, to deliver reform and transformation and make a positive difference in our clients, our people and our community’s future.
                <br><br>When you join us you’ll see a difference-in the work you do, in our approach to developing you, and in the way we help you balance your professional and personal goals.
                <br><br>Our value proposition is a unique one:
            </p>
            <h2 class="col-3">Interesting work</h2>
            <p class="col-3 black">Can you help us set up a digital tool to support carbon emissions reduction? 
            How do we deliver a digital information hub and national contact centre to enable clients a better way to access aged care services? 
            Can you help us to deliver one of the world’s largest social welfare ICT system transformations? 
            What document management system should I use if I need to process 3000 grant applications every year? 
            Can you design a framework that reduces red tape for not-for-profit organisations? </p>

            <h2 class="col-3">Developing your career</h2>
            <p class="col-3 black"> Our aim is to develop well rounded consultants able to tackle a range of problems and deliver outstanding product. We achieve this by providing you the opportunity to work on complex programs of national significance while working alongside our Partners and with teams of talented individuals. We make a significant investment in our professional development program and offer you opportunities to undertake cutting edge certifications, attend monthly professional development breakfasts and work through our Leadership and Consulting programs. </p>
            <h2 class="col-3">We are about more than just work</h2>
            <p class="col-3 black"> We are highly active corporate citizens-we invest in local and international initiatives that our staff help select. We're a local business committed to also making a positive impact on our community’s future. We all work hard but know that balance is important so we work with you to ensure you have the flexibility you need to make it all work. Celebrating our success is key so we have an active social calendar including our annual conference, quarterly social events and monthly breakfasts. </p>
            <h2 class="col-3">Exceptional People</h2>
            <p class="col-3 black">We offer the opportunity to work with and alongside leading practitioners from a wide range of backgrounds. Our people are a group of smart creative, energised individuals who want to try new things. It makes for an environment that you want to be a part of. Our core values are active and can be seen in the way our people operate. Our culture encourages collaboration and innovation-we want your input to make our business even better. </p>
            
            <p class="col-3 black">If you are an adaptable and accountable individual who enjoys finding and influencing solutions to problems of national significance we’d like to hear from you. Contact our Recruitment Lead at: (02) 6206 000 or recruitment@apisgroup.com.au  or have a look at our current opportunities:</p>
        </div>
    </div>
    <div class="backgroundImage"></div>

</div>